<header class="header">
  <div class="container header-container">
    <div class="header-content-wrap">
      <nav class="header-nav">
        <a href="/" class="header-logo-link">
          <svg class="header-logo-link-icon">
            <use href="/icons/icons.svg#poseidon-logo"></use>
          </svg>
        </a>
        <ul class="header-nav-links-list">
          <li class="header-nav-links-list-item"><a href="/" class="header-nav-link">Як працює</a></li>
          <li class="header-nav-links-list-item"><a href="/" class="header-nav-link">Покриття</a></li>
          <li class="header-nav-links-list-item"><a href="/" class="header-nav-link">Відгуки</a></li>
          <li class="header-nav-links-list-item"><a href="/" class="header-nav-link">Контакти</a></li>
        </ul>
      </nav>
      <a href="/" class="header-nav-sign-in-link">Увійти</a>
    </div>
  </div>
</header>
