<section class="hero-section">
  <div class="hero-bg">
    <div class="container hero-container">
      <h1 class="hero-title">Знижки від найкращих брендів в найближчому супермаркеті</h1>
      <p class="hero-text">Ще це круті ракети але ми про це дізнались вже після запуску нашого сервісу</p>
      <div class="hero-decorative-circle red">
        <svg class="hero-decorative-circle-icon red">
          <use href="/icons/icons.svg#basket"></use>
        </svg>
      </div>
      <div class="hero-decorative-circle blue">
        <svg class="hero-decorative-circle-icon blue">
          <use href="/icons/icons.svg#basket"></use>
        </svg>
      </div>
      <div class="hero-decorative-circle turquoise">
        <svg class="hero-decorative-circle-icon turquoise">
          <use href="/icons/icons.svg#basket"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
