<section class="reviews-section">
  <div class="container reviews-container">
    <h2 class="reviews-title">Відгуки</h2>
    <div class="swiper reviews-slider mobile js-reviews-slider-mobile">
      <div class="swiper-wrapper reviews-slider-wrapper">
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Я в захваті від сервісу! Завдяки регулярним купонам я зекономила значну суму грошей на покупках для моєї сім'ї. Це можливість зробити наші покупки більш доступними та бюджетними!
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/svitlana.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Світлана</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">Купони стали справжньою знахідкою для мене. Завдяки вам я можу придбати улюблені товари за значно меншу ціну. Дякую за такий корисний сервіс!</p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/mykhaylo.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Михайло</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Я в захваті від сервісу! Завдяки регулярним купонам я зекономила значну суму грошей на покупках для моєї сім'ї. Це можливість зробити наші покупки більш доступними та бюджетними!
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/iryna.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Ірина</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">Купони стали справжньою знахідкою для мене. Завдяки вам я можу придбати улюблені товари за значно меншу ціну. Дякую за такий корисний сервіс!</p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/andriy.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Андрій</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper reviews-slider desk js-reviews-slider-desk">
      <div class="swiper-wrapper reviews-slider-wrapper">
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Я в захваті від сервісу! Завдяки регулярним купонам я зекономила значну суму грошей на покупках для моєї сім'ї. Це можливість зробити наші покупки більш доступними та бюджетними!
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/svitlana.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Світлана</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">Купони стали справжньою знахідкою для мене. Завдяки вам я можу придбати улюблені товари за значно меншу ціну. Дякую за такий корисний сервіс!</p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/mykhaylo.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Михайло</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Я в захваті від сервісу! Завдяки регулярним купонам я зекономила значну суму грошей на покупках для моєї сім'ї. Це можливість зробити наші покупки більш доступними та бюджетними!
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/iryna.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Ірина</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">Купони стали справжньою знахідкою для мене. Завдяки вам я можу придбати улюблені товари за значно меншу ціну. Дякую за такий корисний сервіс!</p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/andriy.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Андрій</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">Купони стали справжньою знахідкою для мене. Завдяки вам я можу придбати улюблені товари за значно меншу ціну. Дякую за такий корисний сервіс!</p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/andriy.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Андрій</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">Купони стали справжньою знахідкою для мене. Завдяки вам я можу придбати улюблені товари за значно меншу ціну. Дякую за такий корисний сервіс!</p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/andriy.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Андрій</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">Купони стали справжньою знахідкою для мене. Завдяки вам я можу придбати улюблені товари за значно меншу ціну. Дякую за такий корисний сервіс!</p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-avatar-wrap">
                <img src="/images/reviews/andriy.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
              </div>
              <p class="reviews-slide-user-name">Андрій</p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-slider-blur start"></div>
      <div class="reviews-slider-blur end"></div>
    </div>
    <div class="reviews-slider-controls-wrap">
      <button type="button" class="reviews-slider-btn prev js-reviews-slider-btn-prev">
        <svg class="reviews-slider-btn-icon prev">
          <use href="/icons/icons.svg#slider-nav-arrow"></use>
        </svg>
      </button>
      <button type="button" class="reviews-slider-btn next js-reviews-slider-btn-next">
        <svg class="reviews-slider-btn-icon next">
          <use href="/icons/icons.svg#slider-nav-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
