.hero-section {
}

.hero-bg {
  position: relative;
  padding-top: 104px;
  padding-bottom: 346px;
  border-radius: 0px 0px 40px 40px;
  background-image: linear-gradient(236.31deg, rgb(54, 111, 255) -74.707%, rgb(89, 188, 251) 97.82%);
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-bg-img {
  position: absolute;
  bottom: -205px;
  left: calc(50% - 246px);
  width: 492px;
  max-width: 492px;
  height: 492px;
}

.hero-container {
  position: relative;
}

.hero-title {
  color: var(--white-color);
  font-family: Geologica;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
}

.hero-text {
  margin-top: 20px;
  color: var(--white-color);
  font-family: Geologica;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.hero-decorative-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: moveUpDown 4s infinite;
}

.hero-decorative-circle.red {
  top: 231px;
  left: 110px;
  width: 59px;
  height: 59px;
  background-color: #ff6759;
}

.hero-decorative-circle.blue {
  top: 253px;
  left: 22px;
  width: 81px;
  height: 81px;
  background-color: #2073ca;
  animation: moveDownUp 4s infinite;
}

.hero-decorative-circle.turquoise {
  top: 355px;
  left: 56px;
  width: 56px;
  height: 56px;
  background-color: #29c7cc;
}

.hero-decorative-circle-icon {
  position: relative;
  fill: #fbfadc;
}

.hero-decorative-circle-icon.red {
  width: 20px;
  height: 20px;
  transform: rotate(7.58deg);
}

.hero-decorative-circle-icon.blue {
  width: 35px;
  height: 35px;
  transform: rotate(-7.84deg);
}

.hero-decorative-circle-icon.turquoise {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background-color: #f4f6f9;
  }

  .hero-bg {
    padding-top: 142px;
    padding-bottom: 482px;
    border-radius: 0px 0px 100px 100px;
    background-image: linear-gradient(236.31deg, rgb(54, 111, 255) -44.927%, rgb(89, 188, 251) 164.759%);
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .hero-bg-img {
    bottom: -423px;
    left: calc(50% - 429px);
    width: 858px;
    max-width: 858px;
    height: 858px;
  }

  .hero-bg-img.mobile {
    display: none;
  }

  .hero-title {
    font-size: 56px;
    letter-spacing: -0.02;
  }

  .hero-text {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 300;
  }

  .hero-decorative-circle.red {
    top: 277px;
    left: 434px;
    width: 104px;
    height: 104px;
  }

  .hero-decorative-circle.blue {
    top: 328px;
    left: 284px;
    width: 142px;
    height: 142px;
  }

  .hero-decorative-circle.turquoise {
    top: 492px;
    left: 354px;
    width: 97px;
    height: 97px;
  }

  .hero-decorative-circle-icon.red {
    width: 34px;
    height: 34px;
  }

  .hero-decorative-circle-icon.blue {
    width: 60px;
    height: 60px;
  }

  .hero-decorative-circle-icon.turquoise {
    width: 34px;
    height: 34px;
  }
}

@media screen and (max-width: 1439px) {
  .hero-bg-img.desk {
    display: none;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDownUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
